#principal {
   border:  solid 30px #FFB6C1;
  padding: 5px;
  margin: 0 auto;
  width: 78%; 
  background: #FFC0CB;
  color: grey
  }

  fieldset{
     border-color: beige;
     background-color: peachpuff;
     height: 100px;
}

legend{border-style: double; 
   margin: 8px;
   padding: 4px
   background: #FFFFFF
}

#fotoperfil {
   border:solid 10px; color: peachpuff;
   margin-bottom: auto;

}

body{

background: url(fondo.jpg);
}
